{% extends 'base.html.twig' %}

{% block content %}
<div class="content container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="page-title"> Gasto Común <small> Carga de archivo, formato .xls con los gastos adicionales por propiedad </small></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <section class="widget">
                    <header>
                        <h4>
                            <i class="fa fa-list-ol"></i>
                            Gasto Común
                        </h4>
                    </header>
                    <div class="body">
                        <div class="clearfix">
                            <form enctype="multipart/form-data" action="upload_xls_adicional.php"   method="POST">
                                <label for="file">Subir archivo Excel de gastos comunes:</label>
                                <div class="form-actions fileupload-buttonbar">
                                    <span class="btn btn-sm btn-default fileinput-button">
                                        <i class="fa fa-plus"></i>
                                        <span>Examinar</span>
                                        <input type="file" name="archivo">
                                    </span>
                                    <button class="btn btn-primary btn-sm start" name="boton" type="submit">
                                        <i class="fa fa-upload"></i>
                                        <span>Subir</span>
                                        <button class="btn btn-inverse btn-sm cancel" type="reset">
                                            <i class="fa fa-ban"></i>
                                            <span>Cancel upload</span>
                                        </button>
                                    </button>
                                </div>
                                <div id="external-events">
                                    <div class="pull-right external-event ui-draggable" style="position: relative;">
                                        <i class="fa  fa-exclamation-triangle"></i>
                                        {{error}}
                                </div>
                        </div>
                            </form> 
                        </div>
                    </div>
                </section>
            </div>
        </div>
</div>
    {% endblock content %}
