<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>Herramientas de Software</title>
    </head>
    <body>
        <div class="content">
            <h1>Herramientas de Software</h1>
            <h3>Proyecto de prueba</h3>
            {% block contenido %}
            {% endblock %}
        </div>
    </body>
</html>
