{% extends "base.html.twig" %}
{% block title %}
Mantenedor de tipos gastos comunes
{% endblock %} 

{% block content %}
<table>
{% for id in tipos %}
	<tr>
		{% for dato in id %}
			<td> {{dato}} </td>
		{% endfor %}
	</tr>
{% endfor %}
</table>

<form action="vistas/basicos/create.html.twig" method="POST">
    <input type="submit" value="Crear">
</form>
<form action="vistas/modificarTipoGasto.html" method="POST">
    <input type="submit" value="Modificar">
</form>
<form action="vistas/modificaTipoGasto.php" method="POST">
    <input type="submit" value="Eliminar">
</form>
{% endblock %}