{% extends "base.html.twig" %}
{% block title %}{% endblock title %}
{% block invar %}
{% endblock invar %}
{% block pageHeader %}
{% endblock pageHeader %}
{% block content %}
{% endblock content %}
{% block logo %}
{% endblock logo %}
{% block contenido %}

 <div class="container">
    <header class="page-header">
        <div class="navbar">
            <div class="logo pull-left" href="inde.php">
                <a href="inde.php"><img src="vistas/bootstrap/img/logos.png" width="60px" height="60px" ALIGN= bottom alt="">                
                    <a href="inde.php"><strong>GC</strong>admin</a> 
                        <Large>Administración y gestión de gastos comunes</Large>
                    </a>
            </div>
            <ul class="nav navbar-nav pull-right navbar-menu hidden-xs">
                <li class="active">
                    <a href="home.php">
                        Home
                    </a>
                </li>
                <li>
                    <a href="login.php">
                        Login
                    </a>
                </li>
            </ul>
        </div>
    </header>
    <div class="content">
        <div id="carousel-landing" class="carousel slide carousel-landing carousel-fade">
            <ol class="carousel-indicators">
                <li data-target="#carousel-landing" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-landing" data-slide-to="1" class=""></li>
                <li data-target="#carousel-landing" data-slide-to="2" class=""></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="animated fadeInLeftBig">
                                <h1 class="slide-one-header"><strong>Bienvenidos a GCadmin</strong> <br>La forma más fácil y rápida</h1>
                                <p class="lead hidden-xs">
                                    de gestión de los gastos comunes en tu <strong>comunidad</strong>
                                </p>
                               <!-- <p>
                                    <a href="index.html" class="btn btn-lg btn-white">
                                        Preview &nbsp; <i class="fa fa-angle-right"></i>
                                    </a>
                                    <a href="http://web-forsite.ru/shablony-bootstrap/"
                                       class="btn btn-lg btn-transparent">
                                        Purchase &nbsp; <i class="fa fa-shopping-cart"></i>
                                    </a>
                                </p>-->
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="text-align-center animated fadeInRightBig">
                                <img src="vistas/bootstrap/img/imagen2.jpg"  width="400px" height="250px"  alt=""/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <h1 class="slide-two-header text-align-center animated fadeInDown">
                      Gestión <strong>transparente</strong> & <strong>rápida</strong>
                    </h1>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="animated fadeInLeftBig">
                                <p>
                                    <a href="index.html">
                                        <img src="vistas/bootstrap/img/imagen4.jpg"  width="400px" height="250px" alt=""/>
                                    </a>
                                </p>
                               <!-- <p class="text-align-center">
                                    <a href="index.html" class="btn btn-transparent btn-lg btn-version-preview">
                                        Preview &nbsp; <i class="fa fa-angle-right"></i>
                                    </a> -->
                                </p>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="animated fadeInRightBig">
                                <p>
                                    <a href="white/index.html">
                                        <img src="vistas/bootstrap/img/imagen6.jpg" width="400px" height="250px" alt=""/>
                                    </a>
                                </p>
                               <!-- <p class="text-align-center">
                                    <a href="white/index.html" class="btn btn-white btn-lg btn-version-preview">
                                        Preview &nbsp; <i class="fa fa-angle-right"></i>
                                    </a> -->
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="animated fadeInLeft">
                                <h1 class="slide-three-header">
                                    <strong>Facilita</strong>
                                    el trabajo de la administración y <strong>mejora</strong> la vida del residente.
                                </h1>
                                <!--<p>
                                    <a href="http://responsinator.com/?url=http://demo.okendoken.com" class="btn btn-white btn-lg" target="_blank">
                                        Test It
                                    </a>
                                </p>-->
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <p class="animated fadeInUp" style="margin-top: 20px">
                                <img src="vistas/bootstrap/img/imagen5.jpg" width="400px" height="250px" alt=""/>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <a class="left carousel-control carousel-control-landing" href="landing.html#carousel-landing" data-slide="prev">
                <span class="icon-prev"></span>
            </a>
            <a class="right carousel-control carousel-control-landing" href="landing.html#carousel-landing" data-slide="next">
                <span class="icon-next"></span>
            </a>
        </div>
    </div>
</div>
<div id="about" class="widget widget-white widget-about">
    <div class="container">
        <div class="row">
            <div class="col-sm-offset-1 col-sm-10">
                <h2><strong>GCadmin</strong></h2>
                <p>
                    <strong>GCadmin</strong> - cuenta con secciones especiales para:
                </p>
                <div class="row features">
                    <div class="col-sm-4">
                        <section class="feature">
                            <div class="row">
                                <div class="col-xs-4">
                                    <p>
                                        <span class="icon background-info">
                                            <i class="icon glyphicon glyphicon-user"></i></span>
                                        <!--span class="icon background-danger">
                                            <i class="fa fa-bold"></i>                                    
                                        </span-->
                                    </p>
                                </div>
                                <div class="col-xs-8">
                                    <h4>Cuenta</h4>
                                    <p>                                        
                                        Uso de cuentas de usuario.
                                    </p>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="col-sm-4">
                        <section class="feature">
                            <div class="row">
                                <div class="col-xs-4">
                                    <p>
                                         <span class="icon background-success">
                                               <i class="glyphicon glyphicon-list-alt"></i>
                                        </span>
                                    </p>
                                </div>
                                <div class="col-xs-8">
                                    <h4>Pagos</h4>
                                    <p>
                                        Registro de pago de gastos de los copropietarios.
                                    </p>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="col-sm-4">
                        <section class="feature">
                            <div class="row">
                                <div class="col-xs-4">
                                    <p>
                                        <span class="icon background-warning">
                                               <i class="eicon-mail"></i>
                                        </span>
                                    </p>
                                </div>
                                <div class="col-xs-8">
                                    <h4>Avisos</h4>
                                    <p>
                                        Envío por email de aviso de pagos. 
                                    </p>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
                <div class="row features">
                    <div class="col-sm-4">
                        <section class="feature">
                            <div class="row">
                                <div class="col-xs-4">
                                    <p>
                                        <span class="icon background-lime">
                                           <i class="fa fa-check"></i>
                                        </span>
                                        </span>
                                    </p>
                                </div>
                                <div class="col-xs-8">
                                    <h4>Reservas</h4>
                                    <p> Reservas de los espacios comunes.</p>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="col-sm-4">
                        <section class="feature">
                            <div class="row">
                                <div class="col-xs-4">
                                    <p>
                                        <span class="icon background-primary">
                                            <i class="fa fa-bar-chart-o"></i>
                                        </span>
                                    </p>
                                </div>
                                <div class="col-xs-8">
                                    <h4>Gráficos</h4>
                                    <p>
                                        Gráficos y cuadros comparativos respecto a los gastos comunes.
                                    </p>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="col-sm-4">
                        <section class="feature">
                            <div class="row">
                                <div class="col-xs-4">
                                    <p>
                                        <span class="icon background-danger">
                                            <i class="eicon-chart-line"></i>
                                        </span>
                                    </p>
                                </div>
                                <div class="col-xs-8">
                                    <h4>Reportes</h4>
                                    <p>
                                        Reportes estadísticos de gastos por propiedad y gastos adicionales.
                                    </p>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div><!--
        <p class="preview text-align-center">
            <a href="white/index.html" class="btn btn-lg btn-danger">
                &nbsp; Preview the White Version &nbsp;
            </a>
        </p>
    -->
    </div>
</div>
<h2 class="thanks text-align-center">¡Gracias por preferirnos!</h2>
<p class="lead text-align-center"><a class="back-to-top" href="#"> Volver arriba <i class="fa fa-angle-up"></i></a></p>

{% endblock contenido %}
    {% block scriptis%}

<!-- jquery and friends -->
<script src="vistas/bootstrap/lib/jquery/jquery-2.0.3.min.js"> </script>
<script src="vistas/bootstrap/lib/jquery-pjax/jquery.pjax.js"></script>

<!-- bootstrap default plugins -->
<script src="vistas/bootstrap/lib/bootstrap/transition.js"></script>
<script src="vistas/bootstrap/lib/bootstrap/carousel.js"></script>

<!-- page specific -->
<script src="vistas/bootstrap/js/landing.js"></script>


{% endblock %}
{% block footer %}
{% endblock %}
{% block landing %}class="background landing"{% endblock %}
