{% extends "base.html.twig" %}

{% block title %}Gráfico Gastos Comunes - {% endblock title %}

{% block content %}

<div class="content container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="page-title">Gráficos </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <section class="widget">
                <header>
                    <h4>
                        <i class="fa fa-align-left"></i>
                        Gráfico Gastos Comunes
                    </h4>
                </header>
                <div class="body">
                    <div class="container">
                          <div class="span-24">
                            <p>
                              <img id="graf" class="pChartMap" width="700" height="230" src="../../Grafico_gastos_adicional.php" />
                            </p>
                          </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
{{ parent() }}
{% endblock content %}

{% block footer %}{% endblock %}