{% extends "base.html.twig" %}
{% block title %}
Modificar tipo de gasto común
{% endblock %}

{% block content %}
<div>
<form action="modificaTipoGasto.php" method="POST">

    <label for="Id"> Nueva descripción
        <input type="text" name="Descripcion" value="{{tGasto.descripcion}}" id="Descripcion" placeholder="{{tGasto.descripcion}}"> 
    </label>

    <input type="submit" value="Aceptar">
</form>

</div>
{% endblock %}
{% block footer %}
{% endblock %}