{% extends "base.html.twig" %}

{% block content %}

<div class="content container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="page-title">Modificar tipo de gasto común </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <section class="widget">
                <header>
                    <h4>
                        <i class="fa fa-align-left"></i>
                        Tipos de gastos comunes
                    </h4>
                </header>
                <div class="body">
                    <form class="form-horizontal" action="modificaTipoGasto.php" method="POST">
                        <fieldset>
                            <legend class="section">Ingrese la modificación</legend>

                        <div class="control-group">
                            <label class="control-label " for="disabled-input">Identificador </label>
                            <div class="controls form-group">
                                <div class="col-sm-8">
                                    <input type="text" id="disabled-input" name="id" class="form-control" 
                                    value="{{tGasto['tga_id']}}" readonly="readonly" >
                                </div>
                            </div>
                        </div>
                        

                        <div class="control-group">
                            <label class="control-label " for="tooltip-enabled">Nombre</label>
                            <div class="controls form-group">
                                <div class="col-sm-8">
                                    <input type="text" id="tooltip-enabled" name="descripcion" class="form-control"
                                       data-placement="top" data-original-title="Nombre del tipo de gasto común (máximo 15 caracteres)"
                                       value="{{tGasto['tga_nombre']}}" pattern = "[a-zA-ZáéíóúÁÉÍÓÚ]*" maxlenght = "15" ></div>
                            </div>
                        </div>
                        </fieldset>
                        <div class="form-actions">
                            <div>
                                <button type="submit" name="subit" class="btn btn-primary" value="Aceptar" >Aceptar</button>
                                <button type="button" class="btn btn-default">Cancelar</button>
                            </div>
                        </div>
                        
                    </form>
                </div>
            </section>
        </div>

    </div>
    
    
    
</div>

{{ parent() }}
{% endblock content %}
{% block footer %}{% endblock %}