{% extends "base.html.twig" %}
{% block title %}
Modificar tipo de gasto común
{% endblock %}

{% block content %}
<div>
<form action="modificaTipoGasto.php" method="POST">

    <label for="id"> Id:
        <input type="text" name="id" value="{{tGasto['tga_id']}}" id="id" pattern = "[A-Z]" maxlenght = "1" readonly="readonly"  > 
    </label>
    <label for="descripcion"> Descripción:
        <input type="text" name="descripcion" value="{{tGasto['tga_nombre']}}" id="descripcion" pattern = "[a-zA-Z]" maxlenght = "15" > 
    </label>

    <input type="submit" value="Aceptar">
</form>

</div>
{% endblock %}
{% block footer %}
{% endblock %}